<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!-- 실제 매핑되는 클래스의 경로 이다(하단 소스 참조) -->

<mapper namespace="com.mytest.DAO.FileMapper">

	<!-- <cache-ref namespace=""/> -->

	<resultMap type="FileDTO" id="getFilesResultMap">

		<result property="idx" column="idx" />

		<result property="filename" column="filename" />

		<result property="filesize" column="filesize" />

	</resultMap>



	<!-- select -->

	<select id="getFile" resultMap="getFilesResultMap">

		select * from files

	</select>

	<!-- insert -->

	<insert id="insertFile" parameterType="com.mytest.DTO.FileDTO">

		insert into files
		values ( #{filename},#{filesize})

	</insert>

</mapper>
